<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div><a href="/">
                <h1>Orai Lietuvoje</h1>
            </a></div>
        <nav>
            <a href="/">Pradinis puslapis</a>
            <a href="/miestai">Miestai</a>
            <a href="/miestai/pasirinkti">Pasirinkti miestai</a>
        </nav>
    </header>
    <main>
        <article>
            <div>
                <h1>Miestai</h1>
                <h1>Pasirinkite savivaldybe</h1>
                <div class="cities">
                <% ten.forEach(city => { %>
                    <div>
                        <a href="/miestai/<%= city %>"><%= city %></a>
                    </div>
                <% }) %>
            </div>

            </div>
        </article>
    </main>
    <footer>Poraštė</footer>
</body>

</html>